body, h1, h2, ul {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

html {
    min-height: 100%; /* Changed from height to min-height */
}

body {
    /* Removed display flex and flex-direction properties */
    min-height: 100vh; /* Ensures body is at least the height of the viewport */
    margin: 0;
}

/* Header styling */
.site-header {
    background: #191919;
    color: #fff;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; /* Added padding to give some space inside the header */
}

.brand-logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.site-nav ul {
    list-style: none;
    display: flex;
}

.site-nav ul li {
    margin-left: 20px;
}

.site-nav ul li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 14px;
}

/* Wrapper styling */
.wrapper, .wrapper-x {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0; /* Ensure consistent padding */
}

/* Footer styling */
footer {
    background: #191919;
    color: #fff;
    padding: 1rem 0; /* Consistent padding with header */
    width: 100%;
    z-index: 1;
}

/* Ensure no additional margin or padding on the main content */
.main-content {
    padding: 0;
    margin: 0;
}
