<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carvis</title>
    
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_sb.css') }}">


<script>
        // Function to remove flash messages after a certain time
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.remove();
                window.location.href = '/account';
            }

        }, 1800);
    </script>


<body>
    {% extends "navbar.html" %}
    {% block content %}
    <main>


        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    
        <div class="section2">
            <div id="column">
                <div class="container">
                    <h1>Personal Info</h1><br>
                    <legend>Here you can see your information</legend>
    
                    <div class="form-style">
                        <form method="POST" action="{{ url_for('update_personal_info') }}">
                            <fieldset>
                                <label for="full_name">Name:</label>
                                <input type="text" id="full_name" name="full_name" value="{{ personal_info.full_name }}" placeholder="Name and Surname" required>
                                
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" value="{{ personal_info.email }}" placeholder="Email" required>
                                
                                <label for="address">Address:</label>
                                <input type="text" id="address" name="address" value="{{ personal_info.address }}" placeholder="Address" required>
                                
                                <!-- Removed password input for security -->
                            </fieldset>
                            <a href="{{ url_for('changepassword') }}" class="button1">Change Password</a>
                            <button type="submit" class="button2">Upload Changes</button>
                        </form>
                    </div>
    
                </div>
                <div class="vl"></div>
    
                <div class="container">
                    <div class="container-sub">
                        <div class="order-history">
                            <h8>Order History</h8>
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Advertisement</th>
                                            <th>Car Name</th>
                                            <th>Date</th>
                                            <th>Email</th>
                                            <th>Country</th>
                                            <th>List Price</th>
                                            <th>Negotiated Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>{{ order.advertisement.ad_title }}</td>
                                            <td>{{ order.car_model.make }} {{ order.car_model.model }}</td>
                                            <td>{{ order.order_date.strftime('%Y-%m-%d') }}</td>
                                            <td>{{ order.email }}</td>
                                            <td>{{ order.country }}</td>
                                            <td>{{ order.total_price }}</td>
                                            <td>{{ order.negotiated_price }}</td>
                                            <td>{{ 'Pending' if order.order_status == 1 else 'Accepted' if order.order_status == 2 else 'Rejected' }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
    
            </div>
        </div>
        </div>
        <div class="section2">
            <div id="column">
                <div class="container">
                     {% if error %}
                     <div class="error-message">
                     {{ error }}
                     </div>
                     {% endif %}
                    <h1>Merchandising Section</h1><br>
                    <legend>Here you can create a new advertisement for a new car</legend>

                    <div class="form-style">
                         <form method="POST" action="{{ url_for('add_car_advertisement') }} " enctype="multipart/form-data">
                            <fieldset>
                                <input type="text" name="car_name" placeholder="Car Name" required>
                                <input type="text" name="car_made" placeholder="Car Made" required>
                                <input type="text" name="price" placeholder="Price" required>
                                <input type="text" name="car_overview" placeholder="Car Overview [Safety, Additional]" required>

                                {% if user_role == 'BUYER_SELLER' %}
                                  <input type="text" name="mileage" placeholder="Mileage" required>
                                {% endif %}


                                <input type="text" name="fuel_economy" placeholder="Fuel Economy" required>

                                {% if user_role == 'BUYER_SELLER' %}
                                   <input type="text" name="year_of_produce" placeholder="Year of Produce" required>
                                {% endif %}


                                <input type="file" name="car_images" accept="image/*" multiple required>


                            </fieldset>
                            <button type="submit" class="button2">Upload Ad</button>
                        </form>
                    </div>
    
                </div>
                <div class="vl"></div>
    
                <div class="container">
                    <div class="container-sub">

    
                        <h2>Your Current Received Offers</h2><br />
                         <a href="{{ url_for('show_my_received_offers') }}" class="button1">My Current Received Offers</a>

                         <h2>Your Current Advertisements</h2><br />
                         <a href="{{ url_for('show_my_advertisements') }}" class="button1">My Current Advertisements</a>
                    </div>
                </div>
    
            </div>
        </div>
        </div>

        <div class="section2">
            <div id="column">
                <div class="container">
                    <h1>Partner</h1><br>
                    <legend><h2>please contact us directly at:carvis@hello.com</h2></legend>
                    
                </div>
                <div class="vl2"></div>
    
                <div class="container">
                </div>
    
            </div>
        </div>
        </div>

</main>
{% endblock %}
</body>
</html>

```