<link rel="stylesheet" href="{{ url_for('static', filename='css/style_passordc.css') }}">

<body>
    {% extends "navbar.html" %}
    {% block content %}
    <main>
    <div id="section1">
        <button class="back" onclick="window.history.back();">
            < back</button>
    </div>

    <div class="section2">
        <div id="column">
            <div class="container">
                <h1>Change Password</h1><br>

                <div class="form-style">
                    <form>
                        <fieldset>
                            <input type="text" placeholder="New Password">
                            <input type="text" placeholder="Confirm Password">
                        </fieldset>
                        <button type="button" class="button2" onclick="window.location.href='/confirmpassword';">Change Password</button>
            <!--button submit "form "or button "to next pages"-->
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</main>
</body>
{% endblock %}